/* News section styling */
.news-section {
    width: 100%
  }
  
  .news-section .section-content {
    width: 85%;
    margin: 20px auto;
  }
  
  .news-section .section-content {
    width: 85%;
    text-align: center;
    margin: auto;
  }
  
  .news-section .section-content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
  }
  
  .news-section .section-content .cards .card {
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
  }
  
  .news-section .section-content .cards .card img {
    width: 100%;
    height: auto;
  }
  
  .news-section .section-content .cards .card .article {
    padding: 15px 20px;
  }
  
  .news-section .section-content .cards .card .article h4 {
    font-size: 24px;
    color: #4a4a4a;
  }
  
  .news-section .section-content .cards .card .article p {
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
  }
  
  .news-section .section-content .cards .card a {
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 8px 15px;
    margin-left: 20px;
    color: white;
    margin-bottom: 20px;
  }
  
  .news-section .section-content .cards .card .posted-date p {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: white;
    padding: 6px 15px;
  }
  
  @media screen and (max-width: 992px) {
    .news-section .section-content .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
    .news-section .section-content .cards {
      grid-template-columns: 1fr;
    }
  }
  